/* purgecss start ignore */
@import "tailwindcss/base";

#app {
  --color-bg-primary: #a100ff;
  --color-bg-primary-soft: #9c5ac2;
  --color-bg-secondary: #ffc857;
  --color-bg-default: #fff;
  --color-bg-default-soft: rgb(241, 242, 253);
  --color-bg-inverse: #fff;
  --color-bg-inverse-soft: #e4e4e4;

  --color-text-primary: #fff;
  --color-text-secondary: #bdd9bf;
  --color-text-default: #2e4052;
  --color-text-default-soft: #3e5164;
  --color-text-inverse: #34257a;
  --color-text-inverse-soft: #999;
  color: var(--color-text-default);

  &.theme-dark {
    --color-bg-primary: #a100ff;
    --color-bg-primary-soft: #c263fa;
    --color-bg-secondary: #ffc857;
    --color-bg-default: #272336;
    --color-bg-default-soft: #342e47;
    --color-bg-inverse: #d3d3d3;
    --color-bg-inverse-soft: #494949;

    --color-text-primary: #fff;
    --color-text-secondary: #bdd9bf;
    --color-text-default: #e9efff;
    --color-text-default-soft: #ffffff;
    --color-text-inverse: #6063ff;
    --color-text-inverse-soft: #bbb;
  }
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

ul {
  @apply list-disc my-6 ml-4;
}

ol {
  @apply list-decimal;
}

table {
  @apply border w-full;
}

th {
  @apply px-4;
}

td {
}

code {
  @apply bg-default-soft;
}

.link-highlight {
  @apply text-inverse font-bold;
  &:hover {
    @apply bg-secondary;
  }
}

@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";
:root {
  color-scheme: dark light;
  supported-color-schemes: dark light;
  --duration: 0.5s;
  --timing: ease;
}
html,
body {
  height: 100%;
}
